[Unit]
Description=gunicorn daemon for SmartWaste
After=network.target

[Service]
User=root
Group=root

# Setzen Sie den absoluten Installationspfad
WorkingDirectory=/home/SmartWaste/project
Environment="PYTHONPATH=/home/SmartWaste/project/env/lib/python3.11/site-packages"
Environment="GUNICORN_BIN_PATH=/home/SmartWaste/project/env/bin/gunicorn"
Environment="ACCESS_LOG_PATH=/home/SmartWaste/project/log/gunicorn/access.log"
Environment="ERROR_LOG_PATH=/home/SmartWaste/project/log/gunicorn/error.log"
ExecStart=/home/SmartWaste/project/env/bin/gunicorn --workers 3 --bind 192.168.1.31:8000 --access-logfile /home/SmartWaste/project/log/gunicorn/access.log --error-logfile /home/SmartWaste/project/log/gunicorn/error.log app:app

# Restart policies
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
